.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background: #000 url('./images/portrait.jpeg');
  object-fit: cover;
  background-origin: content-box;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-size: cover !important; 
  padding: 40px 0;
  color: white;
}

.text-overlay {
  font-size: calc(0.0004px + 10vmin); 
  font-weight: 150;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.under-text-overlay {
  display: flex;
  text-align: center;
  flex-direction: column;
  top: 40%;
  left: 50%;
  margin-bottom: 25%;
  font-weight: 150;
  font-size: calc(0.0005px + 3.5vmin);
}

.home-header-bio {
  display: flex;
  flex-direction: row;
  padding: 10%;
  background: rgb(232, 240, 247);
}

.about-header {
  display: flex;
  justify-content: right;
  flex-direction: row;
  font-size: calc(0.0002px + 8vmin);
  font-weight: 200;
  margin: auto;
  margin-left: 15%;
  margin-right: 20%;
}

.campus-pic {
  width: 30%;
  height: 30%;
  display: flex;
  margin-right: 20%;
}

.home-bio {
  display: flex;
  justify-content: right;
  flex-direction: column;
  font-size: calc(0.0002px + 3vmin);
  margin: auto;
  margin-right: 15%;
  font-weight: 200;
  line-height: 150%;
  min-width: 200px;
}

.home-exp-info {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 200;
  margin: auto;
  margin-left: 20%;
  margin-right: 10%;
}

.experience-section {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 5%;
}

.photo-section {
  background: #000 url('./images/sunrise.jpeg');
  background-origin: content-box;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  background-size: cover !important;
  padding: 20px 0;
  color: white;
}

.photo-text {
  padding-right: 1%;
}

.photo-section-header {
  font-weight: 150;
  font-size: calc(0.0002px + 5vmin);
  margin: auto;
  text-align: center;
  margin-bottom: 20%;
  margin-top: 10%;
  color: white;
}

.info {
  margin: auto;
  margin-right: 17%;
  margin-left: 10%;
  min-width: 300px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 200;
  line-height: 150%;
}

.content {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}

.content.left {
  flex-direction: row;
  background: rgb(232, 240, 247);
}

.content.right {
  flex-direction: row-reverse;
  background: white;
}

.media {
  display: flex;
  margin: auto;
}

.media.left {
  margin-right: 10%;
}

.media.right {
  margin-left: 10%;
}

.photos-page {
  background: rgb(232, 240, 247);
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}

.img-container {
  padding: 1em 0;
  float: left;
  width: 50%;
}

@media screen and (max-width: 640px){
  .img-container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .img-container{
    width: 33.33333%;
  }
}

.photo {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.photo:hover .overlay {
  color: black;
  opacity: 70%;
}

.footer {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding-top: 3%;
  background: black;
}

.column {
  flex: 15%;
  padding: 1px;
}

 .linkedin-logo {
  margin: auto;
  width: 30px;
  height: 30px;
  margin-left: 49%;
}

.github-logo {
  width: 10%;
  height: 10%;
} 

.resume {
  color: white;
  text-align: center;
  flex-direction: column;
  margin-top: 2%;
  padding-bottom: 1%;
}

.resume-link {
  color: white;
}

.disclaimer {
  color: white;
  text-align: center;
  flex-direction: column;
  padding-bottom: 3%;
}

.backlog-link {
  color: white;
}

.website-code {
  color: white;
  text-align: center;
  flex-direction: column;
  padding-bottom: 1%;
}

.code-link {
  color: white;
}

video {
  width: 100%;
}

a[download] {
  color: hsla(216, 70%, 53%, 1);
  text-decoration: underline;
}

a[download]::before {
  content: url('./icon-download.svg');
  height: 1em;
  position: relative;
  top: 0.75em;
  right: 0.5em;
  width: 1em;
}

a[download]:hover,
a[download]:focus {
  text-decoration: none;
}